<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>4823895260-l41gfdgch2ml8kp3enqokj658v7qg2gi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4823895260-l41gfdgch2ml8kp3enqokj658v7qg2gi</string>
	<key>API_KEY</key>
	<string>AIzaSyDvxW0Ni_crw0qNwxYLG5ECLcYC9Y7NjEU</string>
	<key>GCM_SENDER_ID</key>
	<string>4823895260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.setup.iosapp</string>
	<key>PROJECT_ID</key>
	<string>setup-8463d</string>
	<key>STORAGE_BUCKET</key>
	<string>setup-8463d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4823895260:ios:6587b199bc5a4d9d</string>
	<key>DATABASE_URL</key>
	<string>https://setup-8463d.firebaseio.com</string>
</dict>
</plist>